.node {
	width: 20px;
	height: 20px;
	outline: 0.5px solid #393e46;
	display: inline-block;
}

.wall {
	background-color: rgb(15, 185, 252);
}

.node-empty {
	background-color: none;
}

.node-target {
	background-color: #f02424;
}

.node-start {
	background-color: #51ff00;
}

.node-visited {
	background-color: #f7fac8;
}

.node-shortest-path {
	background-color: #0059ff;
}
