.node {
	width: 20px;
	height: 20px;
	outline: 0.5px solid #393e46;
	display: inline-block;
}

.wall {
	background-color: #0fb9fc;
}

.node-empty {
	background-color: none;
}

.node-target {
	background-color: #f02424;
}

.node-start {
	background-color: #51ff00;
}

.node-visited {
	background-color: #f7fac8;
}

.node-shortest-path {
	background-color: #ffa600;
}
