.node {
	width: 20px;
	height: 20px;
	outline: 0.5px solid #393e46;
	display: inline-block;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wall {
	animation-name: wallAnimation;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes wallAnimation {
	0% {
		transform: scale(0.5);
		background-color: #5d05ffe0;
		border-radius: 100%;
	}

	100% {
		transform: scale(1);
		background-color: #5d05ffa6;
	}
}

.node-empty {
	background-color: none;
}

.node-target {
	background-color: #f02424;
}

.node-start {
	background-color: #51ff00;
}

.node-visited {
	animation-name: visitedAnimation;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes visitedAnimation {
	0% {
		transform: scale(0.4);
		background-color: #9aff71;
		border-radius: 100%;
	}

	50% {
		background-color: #99ff71b7;
	}

	100% {
		transform: scale(1);
		background-color: #99ff7191;
	}
}

.node-shortest-path {
	animation-name: pathAnimation;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes pathAnimation {
	0% {
		transform: scale(0.3);
		background-color: #2fe7ff;
		border-radius: 100%;
	}

	50% {
		transform: scale(0.6);
		background-color: #14e0be;
	}

	100% {
		transform: scale(1);
		background-color: #14e0be;
	}
}
